openapi: 3.1.0
info:
  title: API Reference agentic-search > agenticSearch search-metadata-filter API
  version: 1.0.0
servers:
- url: https://api.coactive.ai
  description: Production
- url: https://app.coactive.ai
  description: Production
tags:
- name: search-metadata-filter
paths:
  /api/v0/search/metadata-filters/audio-sound:
    post:
      operationId: search-audio-sound-with-metadata-filters
      summary: Audio Sound (with Metadata Filters)
      description: Triggers an asynchronous search for video segments containing the specified `audio_class` (e.g., 'Music', 'Dog', 'Explosion') within the specified dataset (`dataset_id`), restricted to videos whose metadata matches every entry in `metadata_filters` (e.g., `genre = documentary`). Audio chunks are scored using the Audio Spectrogram Transformer (AST) model, which predicts confidence scores for 527 AudioSet sound classes across fixed-length audio segments extracted from ingested videos; no text embedding is computed. Returns the Databricks `run_id` immediately; use the status and result endpoints to poll for the final ranked list of sound segments (each with the parent video, time boundaries, the nearest keyframe, score, and optional moderation score).
      tags:
      - search-metadata-filter
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search-metadata-filter:MetadataSearchTriggerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search-metadata-filter:HTTPValidationError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/search-metadata-filter:MetadataSoundSearchRequest'
  /api/v0/search/metadata-filters/job/result/{run_id}:
    get:
      operationId: get-metadata-filter-search-result
      summary: Job Result
      tags:
      - search-metadata-filter
      parameters:
      - name: run_id
        in: path
        required: true
        schema:
          type: integer
      - name: dataset_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search-metadata-filter:get_metadata_filter_search_result_Response_200'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search-metadata-filter:HTTPValidationError'
  /api/v0/search/metadata-filters/job/status/{run_id}:
    get:
      operationId: get-metadata-filter-search-status
      summary: Job Status
      tags:
      - search-metadata-filter
      parameters:
      - name: run_id
        in: path
        required: true
        schema:
          type: integer
      - name: dataset_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search-metadata-filter:MetadataSearchStatusResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search-metadata-filter:HTTPValidationError'
  /api/v0/search/metadata-filters/text-to-image:
    post:
      operationId: search-text-to-image-with-metadata-filters
      summary: Text to Image (with Metadata Filters)
      description: Triggers an asynchronous text-to-image search within the specified dataset (`dataset_id`), restricted to image assets matching every entry in `metadata_filters` (e.g., `category = sports`, `tag contains outdoor`). The `text_query` is encoded into an embedding using the dataset's configured vision-language encoder (e.g., CLIP, SigLIP, Perception Encoder) and ranked against image embeddings via vector similarity, while the metadata filters are applied as a pre-scoring constraint on the asset metadata fields. Returns the Databricks `run_id` immediately; use the status and result endpoints to poll for the final ranked list of images (each with the asset id, path, metadata, relevance score, and optional moderation score).
      tags:
      - search-metadata-filter
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search-metadata-filter:MetadataSearchTriggerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search-metadata-filter:HTTPValidationError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/search-metadata-filter:MetadataSearchRequest'
  /api/v0/search/metadata-filters/text-to-keyframe:
    post:
      operationId: search-text-to-keyframe-with-metadata-filters
      summary: Text to Keyframe (with Metadata Filters)
      tags:
      - search-metadata-filter
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search-metadata-filter:MetadataSearchTriggerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search-metadata-filter:HTTPValidationError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/search-metadata-filter:MetadataSearchRequest'
  /api/v0/search/metadata-filters/text-to-shot:
    post:
      operationId: search-text-to-shot-with-metadata-filters
      summary: Text to Shot (with Metadata Filters)
      tags:
      - search-metadata-filter
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search-metadata-filter:MetadataSearchTriggerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search-metadata-filter:HTTPValidationError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/search-metadata-filter:MetadataSearchRequest'
  /api/v0/search/metadata-filters/text-to-transcript:
    post:
      operationId: search-text-to-transcript-with-metadata-filters
      summary: Text to Transcript (with Metadata Filters)
      description: Triggers an asynchronous transcript search within the specified dataset (`dataset_id`), restricted to videos whose metadata matches every entry in `metadata_filters` (e.g., `rating = PG`, `genre = documentary`). When `match_mode="semantic"`, the `text_query` is encoded with the dataset's configured audio/transcript encoder (e.g., sentence transformers, Qwen) and ranked against transcript embeddings via vector similarity. When `match_mode="exact"`, no embedding is computed and the raw `text_query` is matched lexically against transcript text. Returns the Databricks `run_id` immediately; use the status and result endpoints to poll for the final ranked list of transcript segments (each with the parent video, audio segment, timestamp, score, coverage score, and optional moderation score).
      tags:
      - search-metadata-filter
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search-metadata-filter:MetadataSearchTriggerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search-metadata-filter:HTTPValidationError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/search-metadata-filter:MetadataTranscriptSearchRequest'
  /api/v0/search/metadata-filters/text-to-video:
    post:
      operationId: search-text-to-video-with-metadata-filters
      summary: Text to Video (with Metadata Filters)
      description: Triggers an asynchronous text-to-video search within the specified dataset (`dataset_id`), restricted to assets matching every entry in `metadata_filters` (e.g., `genre = musical`, `rating != PG`, `headline contains olympics`, `impressions > 1000`). The `text_query` is encoded into an embedding using the dataset's configured vision-language encoder (e.g., CLIP, SigLIP, Perception Encoder) and ranked against video keyframe embeddings via vector similarity, while the metadata filters are applied as a pre-scoring constraint on the asset metadata fields. Returns the Databricks `run_id` immediately; use the status and result endpoints to poll for the final ranked list of videos (each with the parent video, top composite slice, top keyframe, metadata, score, and optional moderation score).
      tags:
      - search-metadata-filter
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search-metadata-filter:MetadataSearchTriggerResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search-metadata-filter:HTTPValidationError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/search-metadata-filter:MetadataSearchRequest'
components:
  schemas:
    search-metadata-filter:ImageSearchResult:
      type: object
      properties:
        coactive_image_id:
          type: string
          format: uuid
        path:
          type: string
        metadata:
          type: object
          additionalProperties:
            description: Any type
        relevance_score:
          type: number
          format: double
        moderation_score:
          type:
          - number
          - 'null'
          format: double
      required:
      - coactive_image_id
      - path
      - metadata
      - relevance_score
      title: ImageSearchResult
    search-metadata-filter:MetadataSearchRequest:
      type: object
      properties:
        limit:
          type: integer
          default: 40
          description: Max number of results to return
        offset:
          type: integer
          default: 0
          description: Number of results to skip before returning
        metadata_filters:
          type: array
          items:
            $ref: '#/components/schemas/search-metadata-filter:MetadataFilter'
          description: List of filter objects applied against asset metadata fields before scoring. All filters are combined with AND.
        skip_moderation:
          type: boolean
          default: false
          description: When true, moderation scoring is skipped and moderation_score will be null on all results.
        dataset_id:
          type: string
          format: uuid
          description: Dataset to search within
        text_query:
          type: string
          description: Natural language query encoded into an embedding to score visual content via vector similarity.
      required:
      - dataset_id
      - text_query
      description: Body for POST /search/metadata.
      title: MetadataSearchRequest
    search-metadata-filter:MetadataSearchTriggerResponse:
      type: object
      properties:
        run_id:
          type: integer
          description: Databricks job run ID to use for status polling and result retrieval
      required:
      - run_id
      description: Returned immediately after triggering a Databricks job run.
      title: MetadataSearchTriggerResponse
    search-metadata-filter:VideoCompositeSlice:
      type: object
      properties:
        id:
          type: string
          format: uuid
        composite_id:
          type: string
          format: uuid
        composite_type:
          type: string
        index:
          type: integer
        start_time_ms:
          type: integer
        end_time_ms:
          type: integer
        start_frame_num:
          type: integer
        end_frame_num:
          type: integer
      required:
      - id
      - composite_id
      - composite_type
      - index
      - start_time_ms
      - end_time_ms
      - start_frame_num
      - end_frame_num
      title: VideoCompositeSlice
    search-metadata-filter:VideoSearchResult:
      type: object
      properties:
        dataset_id:
          type: string
          format: uuid
        video_id:
          type: string
          format: uuid
        source_path:
          type: string
        video_score:
          type: number
          format: double
        metadata:
          type: object
          additionalProperties:
            description: Any type
        top_composite_slice:
          $ref: '#/components/schemas/search-metadata-filter:VideoCompositeSlice'
        top_keyframe:
          $ref: '#/components/schemas/search-metadata-filter:VideoKeyframe'
        moderation_score:
          type:
          - number
          - 'null'
          format: double
      required:
      - dataset_id
      - video_id
      - source_path
      - video_score
      - metadata
      - top_composite_slice
      - top_keyframe
      title: VideoSearchResult
    search-metadata-filter:ShotSearchResult:
      type: object
      properties:
        composite_slice_id:
          type: string
          format: uuid
        video_id:
          type: string
          format: uuid
        video_metadata:
          type: object
          additionalProperties:
            description: Any type
        slice_start_time_ms:
          type: integer
        slice_end_time_ms:
          type: integer
        max_cosine_sim:
          type: number
          format: double
        keyframe_count:
          type: integer
        moderation_score:
          type:
          - number
          - 'null'
          format: double
      required:
      - composite_slice_id
      - video_id
      - video_metadata
      - slice_start_time_ms
      - slice_end_time_ms
      - max_cosine_sim
      - keyframe_count
      title: ShotSearchResult
    search-metadata-filter:SoundSearchResult:
      type: object
      properties:
        coactive_image_id:
          type: string
          format: uuid
        video:
          $ref: '#/components/schemas/search-metadata-filter:Video'
        start_time_ms:
          type: integer
        end_time_ms:
          type: integer
        score:
          type:
          - number
          - 'null'
          format: double
        timestamp:
          type: integer
        moderation_score:
          type:
          - number
          - 'null'
          format: double
      required:
      - coactive_image_id
      - video
      - start_time_ms
      - end_time_ms
      - timestamp
      title: SoundSearchResult
    search-metadata-filter:KeyframeSearchResult:
      type: object
      properties:
        keyframe_id:
          type: string
          format: uuid
        video_id:
          type: string
          format: uuid
        video_metadata:
          type: object
          additionalProperties:
            description: Any type
        frame_time_ms:
          type: integer
        composite_slice_id:
          type: string
          format: uuid
        slice_start_time_ms:
          type: integer
        slice_end_time_ms:
          type: integer
        cosine_sim:
          type: number
          format: double
        moderation_score:
          type:
          - number
          - 'null'
          format: double
      required:
      - keyframe_id
      - video_id
      - video_metadata
      - frame_time_ms
      - composite_slice_id
      - slice_start_time_ms
      - slice_end_time_ms
      - cosine_sim
      title: KeyframeSearchResult
    search-metadata-filter:TranscriptMetadataSearchResponse:
      type: object
      properties:
        status:
          type: string
        search_target:
          type: string
          enum:
          - transcript
        results:
          type: array
          items:
            $ref: '#/components/schemas/search-metadata-filter:TranscriptSearchResult'
      required:
      - status
      title: TranscriptMetadataSearchResponse
    search-metadata-filter:Video:
      type: object
      properties:
        coactive_video_id:
          type: string
          format: uuid
        path:
          type: string
        metadata:
          type: object
          additionalProperties:
            description: Any type
      required:
      - coactive_video_id
      - path
      - metadata
      title: Video
    search-metadata-filter:DatabricksLifeCycleState:
      type: string
      enum:
      - BLOCKED
      - PENDING
      - QUEUED
      - RUNNING
      - TERMINATING
      - TERMINATED
      - WAITING
      description: 'Databricks job run lifecycle states returned in status.state from the runs/get API.


        These are the standard values as documented at:

        https://docs.databricks.com/api/workspace/jobs/getrun (see RunStatus > state)


        If Databricks adds or changes values, _parse_lifecycle_state in job.py handles unknown

        values gracefully by falling back to PENDING and emitting a warning log.'
      title: DatabricksLifeCycleState
    search-metadata-filter:MetadataSoundSearchRequest:
      type: object
      properties:
        limit:
          type: integer
          default: 40
          description: Max number of results to return
        offset:
          type: integer
          default: 0
          description: Number of results to skip before returning
        metadata_filters:
          type: array
          items:
            $ref: '#/components/schemas/search-metadata-filter:MetadataFilter'
          description: List of filter objects applied against asset metadata fields before scoring. All filters are combined with AND.
        skip_moderation:
          type: boolean
          default: false
          description: When true, moderation scoring is skipped and moderation_score will be null on all results.
        dataset_id:
          type: string
          format: uuid
          description: Dataset to search within
        audio_class:
          $ref: '#/components/schemas/search-metadata-filter:AudioClass'
          description: AudioSet sound class label to search for (e.g. AudioClass.DOG, AudioClass.MUSIC)
      required:
      - dataset_id
      - audio_class
      description: Body for audio sound-class metadata-filter search.
      title: MetadataSoundSearchRequest
    search-metadata-filter:KeyframeMetadataSearchResponse:
      type: object
      properties:
        status:
          type: string
        search_target:
          type: string
          enum:
          - keyframe
        results:
          type: array
          items:
            $ref: '#/components/schemas/search-metadata-filter:KeyframeSearchResult'
      required:
      - status
      title: KeyframeMetadataSearchResponse
    search-metadata-filter:MetadataTranscriptSearchRequest:
      type: object
      properties:
        limit:
          type: integer
          default: 40
          description: Max number of results to return
        offset:
          type: integer
          default: 0
          description: Number of results to skip before returning
        metadata_filters:
          type: array
          items:
            $ref: '#/components/schemas/search-metadata-filter:MetadataFilter'
          description: List of filter objects applied against asset metadata fields before scoring. All filters are combined with AND.
        skip_moderation:
          type: boolean
          default: false
          description: When true, moderation scoring is skipped and moderation_score will be null on all results.
        dataset_id:
          type: string
          format: uuid
          description: Dataset to search within
        text_query:
          type: string
          description: Query text matched against transcripts. In semantic mode it is encoded into an embedding and ranked via vector similarity; in exact mode it is matched lexically without embedding.
        match_mode:
          $ref: '#/components/schemas/search-metadata-filter:TranscriptMatchMode'
          description: 'semantic: encode query with the dataset audio/transcript encoder; exact: pass text to the job without embedding for literal phrase matching.'
      required:
      - dataset_id
      - text_query
      description: Body for transcript metadata-filter search.
      title: MetadataTranscriptSearchRequest
    search-metadata-filter:DatabricksTerminationType:
      type: string
      enum:
      - SUCCESS
      - INTERNAL_ERROR
      - CLIENT_ERROR
      - CLOUD_FAILURE
      description: 'Why a Databricks run terminated, returned in status.termination_details.type.


        These are the standard values as documented at:

        https://docs.databricks.com/api/workspace/jobs/getrun (see TerminationDetails > type)


        If Databricks adds or changes values, _parse_termination_type in job.py handles unknown

        values gracefully by returning None and emitting a warning log.'
      title: DatabricksTerminationType
    search-metadata-filter:HTTPValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/search-metadata-filter:ValidationError'
      title: HTTPValidationError
    search-metadata-filter:ValidationErrorLocItems:
      oneOf:
      - type: string
      - type: integer
      title: ValidationErrorLocItems
    search-metadata-filter:SoundMetadataSearchResponse:
      type: object
      properties:
        status:
          type: string
        search_target:
          type: string
          enum:
          - sound
        results:
          type: array
          items:
            $ref: '#/components/schemas/search-metadata-filter:SoundSearchResult'
      required:
      - status
      title: SoundMetadataSearchResponse
    search-metadata-filter:ImageMetadataSearchResponse:
      type: object
      properties:
        status:
          type: string
        search_target:
          type: string
          enum:
          - image
        results:
          type: array
          items:
            $ref: '#/components/schemas/search-metadata-filter:ImageSearchResult'
      required:
      - status
      title: ImageMetadataSearchResponse
    search-metadata-filter:MetadataFilterOperator:
      type: string
      enum:
      - '='
      - '!='
      - contains
      - '>'
      - <
      - '>='
      - <=
      description: Comparison operator applied between a metadata field value and the filter `value`.
      title: MetadataFilterOperator
    search-metadata-filter:ShotMetadataSearchResponse:
      type: object
      properties:
        status:
          type: string
        search_target:
          type: string
          enum:
          - shot
        results:
          type: array
          items:
            $ref: '#/components/schemas/search-metadata-filter:ShotSearchResult'
      required:
      - status
      title: ShotMetadataSearchResponse
    search-metadata-filter:MetadataSearchStatusResponse:
      type: object
      properties:
        run_id:
          type: integer
        state:
          $ref: '#/components/schemas/search-metadata-filter:DatabricksLifeCycleState'
          description: Current lifecycle state of the run
        termination_type:
          oneOf:
          - $ref: '#/components/schemas/search-metadata-filter:DatabricksTerminationType'
          - type: 'null'
          description: Termination type, populated when run is complete
        termination_message:
          type:
          - string
          - 'null'
          description: Human-readable termination message from Databricks
      required:
      - run_id
      - state
      description: Current status of a Databricks job run.
      title: MetadataSearchStatusResponse
    search-metadata-filter:MetadataFilter:
      type: object
      properties:
        key:
          type: string
          description: Name of the metadata field to filter on (must exist on the dataset's assets).
        value:
          type: string
          description: Value to compare the metadata field against. Always provided as a string; numerical operators (>, <, >=, <=) parse it as a number.
        op:
          $ref: '#/components/schemas/search-metadata-filter:MetadataFilterOperator'
          description: Comparison operator. Defaults to `=` (equality).
      required:
      - key
      - value
      description: A single filter applied against an asset metadata field before scoring.
      title: MetadataFilter
    search-metadata-filter:ValidationError:
      type: object
      properties:
        loc:
          type: array
          items:
            $ref: '#/components/schemas/search-metadata-filter:ValidationErrorLocItems'
        msg:
          type: string
        type:
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
    search-metadata-filter:TranscriptMatchMode:
      type: string
      enum:
      - semantic
      - exact
      description: 'Transcript search: vector/semantic vs lexical/exact (exact skips query embedding).'
      title: TranscriptMatchMode
    search-metadata-filter:get_metadata_filter_search_result_Response_200:
      oneOf:
      - $ref: '#/components/schemas/search-metadata-filter:VideoMetadataSearchResponse'
      - $ref: '#/components/schemas/search-metadata-filter:ShotMetadataSearchResponse'
      - $ref: '#/components/schemas/search-metadata-filter:TranscriptMetadataSearchResponse'
      - $ref: '#/components/schemas/search-metadata-filter:ImageMetadataSearchResponse'
      - $ref: '#/components/schemas/search-metadata-filter:KeyframeMetadataSearchResponse'
      - $ref: '#/components/schemas/search-metadata-filter:SoundMetadataSearchResponse'
      title: get_metadata_filter_search_result_Response_200
    search-metadata-filter:AudioClass:
      type: string
      enum:
      - Speech
      - Male speech, man speaking
      - Female speech, woman speaking
      - Child speech, kid speaking
      - Conversation
      - Narration, monologue
      - Babbling
      - Speech synthesizer
      - Shout
      - Bellow
      - Whoop
      - Yell
      - Battle cry
      - Children shouting
      - Screaming
      - Whispering
      - Laughter
      - Baby laughter
      - Giggle
      - Snicker
      - Belly laugh
      - Chuckle, chortle
      - Crying, sobbing
      - Baby cry, infant cry
      - Whimper
      - Wail, moan
      - Sigh
      - Singing
      - Choir
      - Yodeling
      - Chant
      - Mantra
      - Male singing
      - Female singing
      - Child singing
      - Synthetic singing
      - Rapping
      - Humming
      - Groan
      - Grunt
      - Whistling
      - Breathing
      - Wheeze
      - Snoring
      - Gasp
      - Pant
      - Snort
      - Cough
      - Throat clearing
      - Sneeze
      - Sniff
      - Run
      - Shuffle
      - Walk, footsteps
      - Chewing, mastication
      - Biting
      - Gargling
      - Stomach rumble
      - Burping, eructation
      - Hiccup
      - Fart
      - Hands
      - Finger snapping
      - Clapping
      - Heart sounds, heartbeat
      - Heart murmur
      - Cheering
      - Applause
      - Chatter
      - Crowd
      - Hubbub, speech noise, speech babble
      - Children playing
      - Animal
      - Domestic animals, pets
      - Dog
      - Bark
      - Yip
      - Howl
      - Bow-wow
      - Growling
      - Whimper (dog)
      - Cat
      - Purr
      - Meow
      - Hiss
      - Caterwaul
      - Livestock, farm animals, working animals
      - Horse
      - Clip-clop
      - Neigh, whinny
      - Cattle, bovinae
      - Moo
      - Cowbell
      - Pig
      - Oink
      - Goat
      - Bleat
      - Sheep
      - Fowl
      - Chicken, rooster
      - Cluck
      - Crowing, cock-a-doodle-doo
      - Turkey
      - Gobble
      - Duck
      - Quack
      - Goose
      - Honk
      - Wild animals
      - Roaring cats (lions, tigers)
      - Roar
      - Bird
      - Bird vocalization, bird call, bird song
      - Chirp, tweet
      - Squawk
      - Pigeon, dove
      - Coo
      - Crow
      - Caw
      - Owl
      - Hoot
      - Bird flight, flapping wings
      - Canidae, dogs, wolves
      - Rodents, rats, mice
      - Mouse
      - Patter
      - Insect
      - Cricket
      - Mosquito
      - Fly, housefly
      - Buzz
      - Bee, wasp, etc.
      - Frog
      - Croak
      - Snake
      - Rattle
      - Whale vocalization
      - Music
      - Musical instrument
      - Plucked string instrument
      - Guitar
      - Electric guitar
      - Bass guitar
      - Acoustic guitar
      - Steel guitar, slide guitar
      - Tapping (guitar technique)
      - Strum
      - Banjo
      - Sitar
      - Mandolin
      - Zither
      - Ukulele
      - Keyboard (musical)
      - Piano
      - Electric piano
      - Organ
      - Electronic organ
      - Hammond organ
      - Synthesizer
      - Sampler
      - Harpsichord
      - Percussion
      - Drum kit
      - Drum machine
      - Drum
      - Snare drum
      - Rimshot
      - Drum roll
      - Bass drum
      - Timpani
      - Tabla
      - Cymbal
      - Hi-hat
      - Wood block
      - Tambourine
      - Rattle (instrument)
      - Maraca
      - Gong
      - Tubular bells
      - Mallet percussion
      - Marimba, xylophone
      - Glockenspiel
      - Vibraphone
      - Steelpan
      - Orchestra
      - Brass instrument
      - French horn
      - Trumpet
      - Trombone
      - Bowed string instrument
      - String section
      - Violin, fiddle
      - Pizzicato
      - Cello
      - Double bass
      - Wind instrument, woodwind instrument
      - Flute
      - Saxophone
      - Clarinet
      - Harp
      - Bell
      - Church bell
      - Jingle bell
      - Bicycle bell
      - Tuning fork
      - Chime
      - Wind chime
      - Change ringing (campanology)
      - Harmonica
      - Accordion
      - Bagpipes
      - Didgeridoo
      - Shofar
      - Theremin
      - Singing bowl
      - Scratching (performance technique)
      - Pop music
      - Hip hop music
      - Beatboxing
      - Rock music
      - Heavy metal
      - Punk rock
      - Grunge
      - Progressive rock
      - Rock and roll
      - Psychedelic rock
      - Rhythm and blues
      - Soul music
      - Reggae
      - Country
      - Swing music
      - Bluegrass
      - Funk
      - Folk music
      - Middle Eastern music
      - Jazz
      - Disco
      - Classical music
      - Opera
      - Electronic music
      - House music
      - Techno
      - Dubstep
      - Drum and bass
      - Electronica
      - Electronic dance music
      - Ambient music
      - Trance music
      - Music of Latin America
      - Salsa music
      - Flamenco
      - Blues
      - Music for children
      - New-age music
      - Vocal music
      - A capella
      - Music of Africa
      - Afrobeat
      - Christian music
      - Gospel music
      - Music of Asia
      - Carnatic music
      - Music of Bollywood
      - Ska
      - Traditional music
      - Independent music
      - Song
      - Background music
      - Theme music
      - Jingle (music)
      - Soundtrack music
      - Lullaby
      - Video game music
      - Christmas music
      - Dance music
      - Wedding music
      - Happy music
      - Funny music
      - Sad music
      - Tender music
      - Exciting music
      - Angry music
      - Scary music
      - Wind
      - Rustling leaves
      - Wind noise (microphone)
      - Thunderstorm
      - Thunder
      - Water
      - Rain
      - Raindrop
      - Rain on surface
      - Stream
      - Waterfall
      - Ocean
      - Waves, surf
      - Steam
      - Gurgling
      - Fire
      - Crackle
      - Vehicle
      - Boat, Water vehicle
      - Sailboat, sailing ship
      - Rowboat, canoe, kayak
      - Motorboat, speedboat
      - Ship
      - Motor vehicle (road)
      - Car
      - Vehicle horn, car horn, honking
      - Toot
      - Car alarm
      - Power windows, electric windows
      - Skidding
      - Tire squeal
      - Car passing by
      - Race car, auto racing
      - Truck
      - Air brake
      - Air horn, truck horn
      - Reversing beeps
      - Ice cream truck, ice cream van
      - Bus
      - Emergency vehicle
      - Police car (siren)
      - Ambulance (siren)
      - Fire engine, fire truck (siren)
      - Motorcycle
      - Traffic noise, roadway noise
      - Rail transport
      - Train
      - Train whistle
      - Train horn
      - Railroad car, train wagon
      - Train wheels squealing
      - Subway, metro, underground
      - Aircraft
      - Aircraft engine
      - Jet engine
      - Propeller, airscrew
      - Helicopter
      - Fixed-wing aircraft, airplane
      - Bicycle
      - Skateboard
      - Engine
      - Light engine (high frequency)
      - Dental drill, dentist's drill
      - Lawn mower
      - Chainsaw
      - Medium engine (mid frequency)
      - Heavy engine (low frequency)
      - Engine knocking
      - Engine starting
      - Idling
      - Accelerating, revving, vroom
      - Door
      - Doorbell
      - Ding-dong
      - Sliding door
      - Slam
      - Knock
      - Tap
      - Squeak
      - Cupboard open or close
      - Drawer open or close
      - Dishes, pots, and pans
      - Cutlery, silverware
      - Chopping (food)
      - Frying (food)
      - Microwave oven
      - Blender
      - Water tap, faucet
      - Sink (filling or washing)
      - Bathtub (filling or washing)
      - Hair dryer
      - Toilet flush
      - Toothbrush
      - Electric toothbrush
      - Vacuum cleaner
      - Zipper (clothing)
      - Keys jangling
      - Coin (dropping)
      - Scissors
      - Electric shaver, electric razor
      - Shuffling cards
      - Typing
      - Typewriter
      - Computer keyboard
      - Writing
      - Alarm
      - Telephone
      - Telephone bell ringing
      - Ringtone
      - Telephone dialing, DTMF
      - Dial tone
      - Busy signal
      - Alarm clock
      - Siren
      - Civil defense siren
      - Buzzer
      - Smoke detector, smoke alarm
      - Fire alarm
      - Foghorn
      - Whistle
      - Steam whistle
      - Mechanisms
      - Ratchet, pawl
      - Clock
      - Tick
      - Tick-tock
      - Gears
      - Pulleys
      - Sewing machine
      - Mechanical fan
      - Air conditioning
      - Cash register
      - Printer
      - Camera
      - Single-lens reflex camera
      - Tools
      - Hammer
      - Jackhammer
      - Sawing
      - Filing (rasp)
      - Sanding
      - Power tool
      - Drill
      - Explosion
      - Gunshot, gunfire
      - Machine gun
      - Fusillade
      - Artillery fire
      - Cap gun
      - Fireworks
      - Firecracker
      - Burst, pop
      - Eruption
      - Boom
      - Wood
      - Chop
      - Splinter
      - Crack
      - Glass
      - Chink, clink
      - Shatter
      - Liquid
      - Splash, splatter
      - Slosh
      - Squish
      - Drip
      - Pour
      - Trickle, dribble
      - Gush
      - Fill (with liquid)
      - Spray
      - Pump (liquid)
      - Stir
      - Boiling
      - Sonar
      - Arrow
      - Whoosh, swoosh, swish
      - Thump, thud
      - Thunk
      - Electronic tuner
      - Effects unit
      - Chorus effect
      - Basketball bounce
      - Bang
      - Slap, smack
      - Whack, thwack
      - Smash, crash
      - Breaking
      - Bouncing
      - Whip
      - Flap
      - Scratch
      - Scrape
      - Rub
      - Roll
      - Crushing
      - Crumpling, crinkling
      - Tearing
      - Beep, bleep
      - Ping
      - Ding
      - Clang
      - Squeal
      - Creak
      - Rustle
      - Whir
      - Clatter
      - Sizzle
      - Clicking
      - Clickety-clack
      - Rumble
      - Plop
      - Jingle, tinkle
      - Hum
      - Zing
      - Boing
      - Crunch
      - Silence
      - Sine wave
      - Harmonic
      - Chirp tone
      - Sound effect
      - Pulse
      - Inside, small room
      - Inside, large room or hall
      - Inside, public space
      - Outside, urban or manmade
      - Outside, rural or natural
      - Reverberation
      - Echo
      - Noise
      - Environmental noise
      - Static
      - Mains hum
      - Distortion
      - Sidetone
      - Cacophony
      - White noise
      - Pink noise
      - Throbbing
      - Vibration
      - Television
      - Radio
      - Field recording
      description: AudioSet audio class labels (527 classes)
      title: AudioClass
    search-metadata-filter:VideoMetadataSearchResponse:
      type: object
      properties:
        status:
          type: string
        search_target:
          type: string
          enum:
          - video
        results:
          type: array
          items:
            $ref: '#/components/schemas/search-metadata-filter:VideoSearchResult'
      required:
      - status
      title: VideoMetadataSearchResponse
    search-metadata-filter:AudioSegment:
      type: object
      properties:
        start_time_ms:
          type: integer
        end_time_ms:
          type: integer
        speech_to_text_transcription:
          type: string
      required:
      - start_time_ms
      - end_time_ms
      - speech_to_text_transcription
      title: AudioSegment
    search-metadata-filter:VideoKeyframe:
      type: object
      properties:
        id:
          type: string
          format: uuid
        frame_time_ms:
          type: integer
      required:
      - id
      - frame_time_ms
      title: VideoKeyframe
    search-metadata-filter:TranscriptSearchResult:
      type: object
      properties:
        coactive_image_id:
          type: string
          format: uuid
        video:
          $ref: '#/components/schemas/search-metadata-filter:Video'
        audio_segment:
          $ref: '#/components/schemas/search-metadata-filter:AudioSegment'
        timestamp:
          type: integer
        score:
          type:
          - number
          - 'null'
          format: double
        coverage_score:
          type:
          - number
          - 'null'
          format: double
        moderation_score:
          type:
          - number
          - 'null'
          format: double
      required:
      - coactive_image_id
      - video
      - audio_segment
      - timestamp
      title: TranscriptSearchResult
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
